<%= form_with model: task do |form| %>
    <div class="container-fluid min-vh-100">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <div class="d-flex align-items-center">
                <div class="page-title">
                    Task Detail
                </div>
                <div class="d-flex gap-2 mx-2">
                    <% if task.id.nil?.! %>
                        <%= button_to "Save", class: "btn btn-sm button-create-task rounded-pill text-light" %>
                        <%= button_to "Delete", task, method: :delete, data: {turbo_confirm: "Are you sure?"}, class: "btn btn-sm button-edit-task rounded-pill text-light" %>
                    <% else %>
                        <%= button_to "Create", new_project_stage_task_path(project_id: task.project_id, stage_id: task.stage_id), method: :post, class: "btn btn-sm button-create-task rounded-pill text-light" %>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="card d-flex flex-column d-block border-light shadow-sm">
            <div class="card-body">
                <h3 class="title-task mb-4 row">
                    <div class="form-group col-lg-4">
                        <% if task.id.nil? %>
                            <%= form.label "Title:", class: "label-control" %>
                        <% end %>
                        <%= form.text_field :name, class: "form-control" %> 
                    </div>
                </h3>

                <div class="row">
                    <div class="col-6">
                        <p class="mt-2 mb-1 text-muted font-12 fw-bold text2 text-uppercase">Project:</p>
                        <div class="d-flex">
                            <h5 class="mt-1 font-14 text-primary fw-bold text">
                                <%# <%= task.project.name %>
                                <%= select_tag "project", options_from_collection_for_select(@projects, :id, :name), class: "form-select" %>
                            </h5>
                        </div>
                    </div> 

                    <div class="col-6">
                        <p class="mt-2 mb-1 text-muted fw-bold font-12 text2 text-uppercase">Stage:</p>
                        <div class="d-flex">
                            <h5 class="mt-1 font-14 fw-bold text-primary text">
                                <%= select_tag "stage", options_from_collection_for_select(@stages, :id, :name), class: "form-select" %>
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="row pt-2 pb-4">
                    <div class="col-6">
                        <p class="mt-2 mb-1 text-muted font-12 fw-bold text2 text-uppercase">Assigned To:</p>
                        <p class="mb-0">
                            <div class="form-group col-lg-4">
                                <%= select_tag "user", options_from_collection_for_select(get_users, :id, :name), class: "form-select" %> 
                            </div> 
                        </p>
                    </div> 

                    <div class="col-6">
                        <p class="mt-2 mb-1 text-muted fw-bold font-12 text2 text-uppercase">Due Date:</p>
                        <div class="d-flex">
                            <div>
                                <h5 class="d-flex gap-3 align-items-center mt-1 font-14 fw-bold text">
                                    <%= form.date_select :deadline, {order: [:year, :month, :day] }, class: "form-select" %>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-2 pb-4">
                    <div class="col-6">
                        <div class="mt-2 mb-1 text-muted font-12 fw-bold text2 text-uppercase">Tag:</div>
                        <div class="mb-0">
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <%= select_tag "tag", options_from_collection_for_select(get_tags, :id, :type_tag), class: "form-select" %> 
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h5 class="mt-3 text font-14">Description:</h5>
                    <div class="text-muted text font-14 mb-4">
                        <%= form.rich_text_area(:description, placeholder: "Write your thoughts here...") %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>