<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 font-14 fw-bold text">
        <%= form_with model: @user do |form| %>   
          <h1 class="text-center">Register</h1>   
          <!-- Name input -->
          <div class="form-group mb-4">
            <%= form.label "Name", class: "label-control" %>
            <%= form.text_field :name, class: "form-control form-control-login" %>
          </div>

          <!-- Email input -->
          <div class="form-group mb-4">
            <%= form.label "Email", class: "label-control" %>
            <%= form.text_field :email, class: "form-control form-control-login" %>
          </div>

          <!-- Password input -->
          <div class="form-group mb-3">
            <%= form.label "Password", class: "label-control" %>
            <%= form.text_field :password, class: "form-control form-control-login" %>
          </div>

          <div class="text-center mt-4 pt-2">
            <%= form.submit "Register", class: "btn btn-primary" %>  
            <div class="small fw-bold mt-2 pt-1 mb-0">
              Have an account? 
              <a href=<%= login_path %> class="link-danger">
                Sign In
              </a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>